@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NB International Pro";
  scrollbar-width: thin;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #111;
}